<h2><%= @task.title %></h2>
<p><%= @task.details %>
<p><%= @task.completed %>

<div>
    <%= link_to "Edit task", edit_path %>
    <%= link_to "Delete task",  %>
    <%= link_to "Back", tasks_path %>
</div>